<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		
		<typeAlias type="volunteer.data.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="volunteer.data.vo.ListVO" alias="listVO"/>
		<typeAlias type="volunteer.data.vo.ConnectVO" alias="connectVO"/>
	</typeAliases>
	<mappers>
	
		<mapper resource="/sql/ConnectSQL.xml" />
		<mapper resource="/sql/ListSQL.xml" />
		<mapper resource="/sql/memberSQL.xml" />
	</mappers>
	
</configuration>